body
{
    text-align: center;
    background-image: linear-gradient( 135deg, #69FF97 10%, #00E4FF 100%);
    font-family: 'Fredoka One', cursive;
    font-size: medium;
}
canvas
{
    padding-top: 6cm;
}